:root {

    /* Primary color shades */
    --md-primary-fg-color: #21babe;
    --md-primary-fg-color--light: #21babe;
    --md-primary-fg-color--dark: #86e6e9;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-typeset-a-color: #21babe;

    /* Accent color shades */
    --md-accent-fg-color: #006493;
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }
  
:root > * {

  /* Code block color shades */
  --md-code-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-fg-color: hsla(200, 18%, 26%, 1);

  /* Footer */
  --md-footer-bg-color: #21babe;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}