name: Release Charts

on:
  release:
    types: [published]

jobs:
  release_charts:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          access-token: ${{ secrets.WORKFLOW_GIT_ACCESS_TOKEN }}

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Extract chart version and remove v prefix
        id: extract_version
        run: |
          CHART_VERSION=$(echo ${{ github.ref }} | cut -d'/' -f3)
          echo "::set-output name=version::${CHART_VERSION#v}"

      - name: Package whitebox chart
        run: |
          helm package -u --version ${CHART_VERSION} helm_charts/whitebox

      - name: Publish whitebox chart
        run: |
          curl --data-binary "@whitebox-${CHART_VERSION}.tgz" chartmuseum.squaredev.io/api/charts -u ${{ secrets.CHARTMUSEUM_USERNAME }}:${{ secrets.CHARTMUSEUM_PASSWORD }}
