name: Test & Publish

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  whitebox:
    needs:
      - test
    uses: squaredev-io/gh-workflows/.github/workflows/base_build_publish.yml@main
    with:
      image: whitebox
      dockerfile: Dockerfile
      runs-on: ubuntu-latest
    secrets:
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      docker_access_token: ${{ secrets.DOCKER_ACCESS_TOKEN }}
